*.bak
*.pyc
*.xml
*.tar.gz
*.iml
*.icls
/_windows/
/codestyles/
# Temp
build/
docs/build/
docs/_build/
dist/
*.egg-info/
colors
# IDE
.idea/
# jupyter
.ipynb_checkpoints

#docs/source/_static/
#docs/source/_templates/
.DS_Store
/data
/tests/data
/env
/.vs
/20250625193546294.dmp
*.dmp
/input/~$buy_roe_dv_20180701.xlsx
/input/~$detect_DV_BUY_20190729.xlsx
/output/~$portfolio_backtest_20250704_roe+dv.xlsx
